* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 width: 100%;
}
body {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-size: 1600% 1600%;
 animation: gradient 15s ease infinite;
}

h1{
    font-size: 3rem;
    color: rgb(36, 63, 170);
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}
button{
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: rgb(48, 44, 161);
    border: 2px solid white;
    cursor: pointer;
    transition: all 0.3s ease;
}